.project {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}

.project img {
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.project .Description {
  max-width: 600px;
}